<section id="details">
	<h2>Details</h2>
	<table class="setting-list">
  	<tbody>
			<tr>
				<td>Username</td>
				<td><%= @user.uname %></td>
				<td><div class="button"><%= link_to "edit", {} %></div></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><%= @user.email %></td>
				<td><div class="button"><%= link_to "edit", {} %></div></td>
			</tr>
			<tr>
				<td>Firstname</td>
				<td><%= @user.fname %></td>
				<td><div class="button"><%= link_to "edit", {} %></div></td>
			</tr>
			<tr>
				<td>Lastname</td>
				<td><%= @user.lname %></td>
				<td><div class="button"><%= link_to "edit", {} %></div></td>
			</tr>
			<tr>
				<td>Date of birth</td>
				<td><%= @user.dob %></td>
				<td><div class="button"><%= link_to "edit", {} %></div></td>
			</tr>
  	</tbody>
	</table>
</section>